* {
  margin: 0px;
  padding: 0px;
  font-family: candara;
  font-size: 14px; }

.top_bar {
  background-color: #cecbcb; }
  .top_bar:after {
    content: '';
    display: block;
    clear: both; }
  .top_bar .mid {
    width: 90%;
    margin: auto; }
    .top_bar .mid .mid_right {
      float: right;
      width: 60%;
      margin: auto; }
      .top_bar .mid .mid_right ul li {
        display: inline-block;
        position: relative; }
        .top_bar .mid .mid_right ul li:hover ul {
          display: block; }
        .top_bar .mid .mid_right ul li a {
          text-decoration: none;
          display: block;
          padding: 10px 11px;
          color: black;
          text-transform: uppercase; }
        .top_bar .mid .mid_right ul li ul {
          position: absolute;
          top: 100%;
          left: 0px;
          width: 200px;
          display: none; }
          .top_bar .mid .mid_right ul li ul li {
            display: block;
            background-color: gray;
            margin-bottom: 3px;
            transition: .3s; }
            .top_bar .mid .mid_right ul li ul li:hover {
              transform: scale(1.2);
              z-index: 999; }
          .top_bar .mid .mid_right ul li ul li hover:ul {
            display: block; }

.toppbar {
  background-color: #fff; }
  .toppbar:after {
    content: '';
    display: block;
    clear: both; }
  .toppbar .miid {
    width: 100%; }
    .toppbar .miid .midright {
      float: left;
      width: 70%; }
      .toppbar .miid .midright .midright_mid {
        width: 100%;
        /* Clear floats */ }
        .toppbar .miid .midright .midright_mid .logo {
          width: 30%;
          float: left; }
          .toppbar .miid .midright .midright_mid .logo img {
            height: 80px;
            width: 170px;
            padding-left: 60px; }
        .toppbar .miid .midright .midright_mid form.example input[type=text] {
          margin-top: 20px;
          padding: 10px;
          font-size: 17px;
          border: 1px solid grey;
          float: left;
          width: 55%;
          background: #f1f1f1; }
        .toppbar .miid .midright .midright_mid form.example button {
          margin-top: 20px;
          float: left;
          width: 8%;
          padding: 10px;
          background: #ff7d0e;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer; }
        .toppbar .miid .midright .midright_mid form.example button:hover {
          background: #ff7d0e; }
        .toppbar .miid .midright .midright_mid form.example::after {
          content: "";
          clear: both;
          display: table; }
    .toppbar .miid .midleft {
      float: left;
      width: 30%; }
      .toppbar .miid .midleft:after {
        content: '';
        display: block;
        clear: both; }
      .toppbar .miid .midleft .midmid {
        width: 100%; }
        .toppbar .miid .midleft .midmid .cart {
          float: left;
          width: 50%; }
          .toppbar .miid .midleft .midmid .cart img {
            height: 87px;
            width: 67px;
            padding: 0px; }
        .toppbar .miid .midleft .midmid .imag {
          float: right;
          width: 50%; }
          .toppbar .miid .midleft .midmid .imag img {
            height: 60px;
            width: 150px;
            padding: 10px; }

.catagory:after {
  content: '';
  display: block;
  clear: both; }
.catagory .mid {
  width: 100%;
  margin: auto; }
  .catagory .mid .dropdown {
    width: 30%;
    float: left;
    padding: 20px 30px; }
    .catagory .mid .dropdown button {
      padding: 10px 20px;
      color: black; }
  .catagory .mid .right_menu {
    width: 70%;
    float: right; }
    .catagory .mid .right_menu li {
      display: inline-block;
      list-style: none;
      text-align: right; }
      .catagory .mid .right_menu li a {
        text-decoration: none;
        display: block;
        padding: 30px 11px;
        color: black; }

.banner {
  width: 100%; }
  .banner img {
    width: 100%;
    height: 450px; }

.brand {
  width: 100%;
  background: #8989efa6;
  padding: 20px 0px; }
  .brand:after {
    content: '';
    display: block;
    clear: both; }
  .brand .brandleft {
    float: left;
    width: 15%;
    padding: 50px 0px; }
    .brand .brandleft p {
      font-weight: bold;
      text-align: center;
      font-size: 22px;
      padding-top: 20px  30px; }
    .brand .brandleft .checking {
      margin: 10px 10px; }
      .brand .brandleft .checking input {
        margin: 5px; }
      .brand .brandleft .checking label {
        font-size: 18px;
        color: #1d2129;
        vertical-align: top;
        margin-right: 8px; }
    .brand .brandleft .text {
      float: right;
      padding-left: 0px; }
  .brand .brandright {
    float: right;
    width: 85%;
    padding: 20px 20px; }
    .brand .brandright .workbox {
      height: 200px;
      background-size: cover;
      background-position: center center;
      margin-bottom: 100px; }
      .brand .brandright .workbox .blr {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: .3s;
        cursor: pointer;
        position: relative; }
        .brand .brandright .workbox .blr .work_details {
          padding: 10px;
          width: 100%;
          background-color: #fff;
          text-align: center;
          position: absolute;
          bottom: -75px;
          left: 0px; }
          .brand .brandright .workbox .blr .work_details h4 {
            font-family: bold;
            color: 363636;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0px; }
          .brand .brandright .workbox .blr .work_details p {
            font-size: 14px;
            margin: 0px; }
          .brand .brandright .workbox .blr .work_details button {
            width: 100%;
            background-size: cover; }
      .brand .brandright .workbox:hover .blr {
        background-color: rgba(0, 0, 0, 0.5); }

.body {
  background-color: #bbb6b6;
  height: 450px;
  width: 100%; }
  .body:after {
    content: '';
    display: block;
    clear: both; }
  .body h2 {
    color: #000;
    padding-top: 60px;
    padding-left: 130px;
    font-size: 25px; }
  .body h6 {
    padding: 72px 60px; }
  .body input[type=text], .body input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; }
  .body input[type=text]:focus, .body input[type=password]:focus {
    background-color: #ddd;
    outline: none; }
  .body button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; }
  .body button:hover {
    opacity: 1; }
  .body .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336; }
  .body .cancelbtn, .body .signupbtn {
    float: left;
    width: 50%; }
  .body .container {
    padding: 16px; }
  .body .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px; }
  .body .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%; }
  .body hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px; }
  .body .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1; }
  .body .close:hover,
  .body .close:focus {
    color: #f44336;
    cursor: pointer; }
  .body .clearfix::after {
    content: "";
    clear: both;
    display: table; }
  @media screen and (max-width: 300px) {
    .body .cancelbtn, .body .signupbtn {
      width: 100%; } }
  .body .form_body {
    height: 250px;
    width: 75%;
    background-color: #fff;
    margin: 10px  100px auto; }
    .body .form_body h6 {
      margin-top: 10px; }
    .body .form_body .left_form {
      float: left;
      width: 70%;
      padding: 10px 30px; }
      .body .form_body .left_form h6 {
        padding: 12px 20px;
        float: right; }
    .body .form_body .right_form {
      float: left;
      width: 30%; }
      .body .form_body .right_form h6 {
        padding: 5px 17px;
        margin-bottom: 0px; }
      .body .form_body .right_form .btn {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none; }
      .body .form_body .right_form .btn:hover {
        opacity: 1; }
      .body .form_body .right_form .fb {
        background-color: #3B5998;
        color: white; }
      .body .form_body .right_form .twitter {
        background-color: #55ACEE;
        color: white; }
      .body .form_body .right_form .google {
        background-color: #dd4b39;
        color: white; }

.signupbody {
  background-color: #bbb6b6;
  height: 950px;
  width: 100%; }
  .signupbody:after {
    content: '';
    display: block;
    clear: both; }
  .signupbody h2 {
    color: #000;
    padding-top: 2px;
    padding-left: 130px;
    font-size: 25px; }
  .signupbody input[type=text], .signupbody input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  .signupbody button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 0px; }
  .signupbody button:hover {
    opacity: 0.8; }
  .signupbody .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336; }
  .signupbody .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative; }
  .signupbody img.avatar {
    width: 15%;
    border-radius: 50%; }
  .signupbody .container {
    padding: 16px; }
  .signupbody span.psw {
    float: right;
    padding-top: 16px; }
  .signupbody .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    padding-top: 60px; }
  .signupbody .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%; }
  .signupbody .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold; }
  .signupbody .close:hover,
  .signupbody .close:focus {
    color: red;
    cursor: pointer; }
  .signupbody .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
  @media screen and (max-width: 300px) {
    .signupbody span.psw {
      display: block;
      float: none; }
    .signupbody .cancelbtn {
      width: 100%; } }
  .signupbody h6 {
    padding: 10px 100px; }
  .signupbody .signupform_body {
    height: 800px;
    background-color: #fff; }
    .signupbody .signupform_body:after {
      content: '';
      display: block;
      clear: both; }
    .signupbody .signupform_body .signup_left {
      float: left;
      width: 50%;
      margin-top: 30px; }
      .signupbody .signupform_body .signup_left .form input {
        display: block;
        width: 100%; }
    .signupbody .signupform_body .signup_right {
      float: right;
      width: 45%; }
      .signupbody .signupform_body .signup_right .form-group label {
        margin-top: 30px;
        margin-left: 0px; }
      .signupbody .signupform_body .signup_right .gender_div {
        margin: 10px 10px; }
      .signupbody .signupform_body .signup_right .gender_div label {
        font-size: 18px;
        color: #1d2129;
        vertical-align: top;
        margin-right: 20px; }
      .signupbody .signupform_body .signup_right button {
        margin: 10px 12px;
        width: 48%;
        padding: 10px 2px;
        color: #fff; }
      .signupbody .signupform_body .signup_right h5 span {
        font-weight: bold;
        font-size: 20px; }

.footer img {
  width: 100%;
  height: 250px;
  display: block; }

.lastpart img {
  width: 100%;
  height: 200px;
  display: block; }

.product {
  padding: 20px 20px; }
  .product .workbox {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px; }
    .product .workbox .blr {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: .3s;
      cursor: pointer;
      position: relative; }
      .product .workbox .blr .work_details {
        padding: 10px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        position: absolute;
        bottom: -75px;
        left: 0px; }
        .product .workbox .blr .work_details h4 {
          font-family: bold;
          color: 363636;
          font-size: 20px;
          text-transform: uppercase;
          margin: 0px; }
        .product .workbox .blr .work_details p {
          font-size: 14px;
          margin: 0px; }
        .product .workbox .blr .work_details button {
          width: 100%;
          background-size: cover; }
    .product .workbox:hover .blr {
      background-color: rgba(0, 0, 0, 0.5); }

.sellbody {
  background-color: #f7efef;
  width: 100%; }
  .sellbody .pic img {
    height: 350px;
    width: 100%;
    margin: 20px; }

.sell_form {
  background-color: #bbb6b6;
  height: 670px;
  width: 100%; }
  .sell_form:after {
    content: '';
    display: block;
    clear: both; }

.paymentsystem {
  height: 600px;
  width: 100%;
  background: gray; }
  .paymentsystem:after {
    content: '';
    display: block;
    clear: both; }
  .paymentsystem .row .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 30px;
    margin: 40px;
    text-align: center;
    background-color: #bbb6b6;
    float: left;
    height: 150px;
    width: 150px; }
    .paymentsystem .row .card1 i {
      padding: 20px; }
    .paymentsystem .row .card1 p {
      font-weight: bold;
      color: #000; }
  .paymentsystem .row .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 30px;
    text-align: center;
    margin: 40px;
    background-color: #f1f1f1;
    float: right;
    height: 150px;
    width: 150px; }
    .paymentsystem .row .card2 i {
      padding: 20px; }
    .paymentsystem .row .card2 p {
      font-weight: bold;
      color: #000; }

.delivery {
  height: 600px;
  width: 100%;
  background-color: #bbb6b6;
  /* Style the submit button */
  /* Add a background color to the submit button on mouse-over */ }
  .delivery input[type=text], .delivery select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .delivery label {
    font-weight: bold; }
  .delivery input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .delivery input[type=submit]:hover {
    background-color: #45a049; }

.cart-body {
  width: 100%;
  height: 1000px;
  background: #f1f1f1;
  padding: 50px; }
  .cart-body .left-cart {
    width: 68%;
    padding: 30px;
    float: left; }
    .cart-body .left-cart .cart-top {
      height: 170px;
      background: #fff;
      padding: 30px;
      margin-bottom: 20px; }
      .cart-body .left-cart .cart-top .delivery-body p {
        line-height: 0px;
        font-size: 15px;
        font-weight: bolder; }
      .cart-body .left-cart .cart-top .select-item {
        border: 1px solid #000;
        border-radius: 5px;
        background: #f1f1f1; }
    .cart-body .left-cart .cart-middle {
      height: 50px;
      background: #fff;
      margin-bottom: 20px;
      padding-top: 15px; }
      .cart-body .left-cart .cart-middle .list-header label {
        padding-left: 10px; }
      .cart-body .left-cart .cart-middle .delete-option:hover {
        color: red; }
    .cart-body .left-cart .shop-title {
      margin-bottom: 20px;
      background: #fff;
      height: 50px;
      padding-top: 15px; }
      .cart-body .left-cart .shop-title label {
        padding-left: 10px; }
    .cart-body .left-cart .cart-bottom {
      height: 300px;
      margin-bottom: 20px;
      background: #fff;
      width: 100%; }
      .cart-body .left-cart .cart-bottom .checkout-shop {
        width: 100%;
        display: flex; }
      .cart-body .left-cart .cart-bottom .cart-item-left {
        display: flex; }
        .cart-body .left-cart .cart-bottom .cart-item-left .chceckout-opt label {
          margin-top: 40px; }
        .cart-body .left-cart .cart-bottom .cart-item-left .cart-image a img {
          height: 80px;
          width: 80px;
          margin-top: 40px; }
        .cart-body .left-cart .cart-bottom .cart-item-left .cart-content {
          margin-top: 35px; }
          .cart-body .left-cart .cart-bottom .cart-item-left .cart-content a {
            text-decoration: none;
            color: #000;
            font-size: 15px; }
      .cart-body .left-cart .cart-bottom .cart-item-middle {
        margin-top: 30px;
        font-size: 20px; }
        .cart-body .left-cart .cart-bottom .cart-item-middle .original-price {
          text-decoration: line-through; }
  .cart-body .right-cart {
    width: 30%;
    background: #fff;
    padding: 30px;
    float: right;
    height: 300px;
    margin-top: 30px; }
    .cart-body .right-cart .summary-section-heading p {
      font-size: 30px;
      font-weight: bold; }
    .cart-body .right-cart .summary-section-content .checkout-summary .checkout-summary-label .subtotal {
      padding: 20px; }
    .cart-body .right-cart .summary-section-content .vouture-input #automation-voucher-input-button {
      font-size: 17px;
      background: #25a5d8;
      text-transform: uppercase;
      border-color: transparent; }
    .cart-body .right-cart .summary-section-content .vouture-input .automation-voucher-input {
      font-size: 17px;
      margin-bottom: 10px; }
    .cart-body .right-cart .checkout-button {
      text-decoration: none;
      font-size: 20px;
      color: #fff;
      background: #f57224 !important;
      width: 100%;
      height: 40px;
      border-style: solid;
      text-transform: uppercase;
      border-color: transparent; }

.profile {
  width: 100%;
  height: 700px;
  background: #f1f1f1;
  padding: 50px;
  margin-bottom: 50px; }
  .profile .name {
    font-size: 30px; }
  .profile .personal-info a {
    text-decoration: none;
    color: #000;
    font-size: 15px; }
  .profile .order-checking a {
    text-decoration: none;
    color: #000;
    font-size: 15px; }
  .profile .profile-right .table-striped img {
    height: 50px;
    width: 50px; }
  .profile .profile-right .personal-profile {
    background: #fff; }
  .profile .profile-right .address-book {
    background: #fff; }
  .profile .profile-right .billing-address {
    background: #fff; }

/*# sourceMappingURL=style.css.map */
